.Hero {
  position: relative;
  background-image: url(./ordination.jpg);
  /* background-position: 50% 30%; */
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  border-bottom: 10px solid rgb(64, 126, 201);
}

.heroTitle {
  position: absolute;
  bottom: 0;
  background-color: rgba(35, 35, 35, 52%);
  height: 25%;
  width: 100%;
  color: #F3F3FF;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.heroTitle h1 {
  font-family: 'Lato', sans-serif;
  font-size: 7vw;
  margin-bottom: 0;
  text-align: right;
}

.shield {
  padding-bottom: 0;
  height: 70%;
  padding: 0 10px; 
}

@media (min-width: 480px) {
  .Hero {
    background-position: 50% 30%;
    height: 45vw;
    max-height: 400px;
  }
}