.ContentCard {
  border-bottom: 2px solid #908fae;
  width: 79%;
  display: flex;
}

.ContentCard img {
  width: 35vw;
  height: 20vw;
  margin-right: 170px;
}

.ContentCard > * {
  width: 100%;
}

.inverse {
  flex-direction: row-reverse;
  text-align: right;
}

.inverse img {
  margin-right: 0;
  margin-left: 170px;
}
