.ContentCard {
  border-bottom: 2px solid #908fae;
  width: 89%;
  display: flex;
}

.ContentCard img,
.ContentCard > * {
  width: 35vw;
  height: 20vw;
  margin-right: 170px;
}

.inverse {
  flex-direction: row-reverse;
  text-align: right;
}


.inverse img,
.inverse > * {
  margin-right: 0;
  margin-left: 170px;
}