.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Main > * {
  margin-bottom: 20px;
}

@media (min-width: 880px) {
  .Main > * {
    margin-bottom: 100px;
  }
}

@media (min-width: 1440px) {
  .Main {
    padding: 0 200px;
  }
}
