.Right {
  display: flex;
  height: 100%;
  align-items: center;
}

.Right {
  float: right;
}

.Address {
  text-align: center;
  font-size: 11px;
  line-height: 13px;
}

.Address p {
  margin-bottom: 3px;
  color: #bebebf;
}

.Right img {
  height: 50%;
  width: auto;
  padding: 0 15px;
}
