.missionStatement {
  width: 79%;
  border-bottom: 1px solid black;
  text-align: center;
}

.missionStatement h2 {
  margin: 19px 0px;
  font-size: 1em;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-style: italic;
}

@media (min-width: 584px) {
  .missionStatement h2 {
    font-size: 3.7vw;
  }
}