.Join {
}

.Join .articleText .contactInformation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Join .articleText .times {
  display: flex;
  justify-content: space-between;
}

.Join .articleText .times p {
  margin-bottom: 0;
}