.Join {
  width: 100%;
}

.imgLink {
  width: 55%;
}

.Join .articleText > *:not(h2) {
  margin-bottom: 15px;
}

.Join .articleText > * > div {
  margin-bottom: 15px;
}

.Join .articleText p {
  margin-bottom: 0;
}

@media (min-width: 360px) {
  .Join .articleText {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Join .articleText .times {
    display: flex;
    flex-direction: column;
  }

  .Join .articleText .contactInformation {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 880px) {
  .Join .articleText {
    justify-content: flex-start;
  }
  .Join .articleText .times {
  margin-left: 10%;
  }

  .Join .contactInformation > p {
    margin-bottom: 30px;
  }
}