.Join {
  /* text-align: center; */
}

.Join .articleText .contactInformation {
  /* display: flex; */
}

.Join .articleText > *:not(h2) {
  margin-bottom: 15px;
  /* display: flex; */
}

.Join .articleText > * > div {
  margin-bottom: 15px;
}

.Join .articleText p {
  margin-bottom: 0;
}

.Join p.address {
  /* font-size: 36px; */
  margin-bottom: 15px;
}

.Join .articleText > * > * {
  /* margin-left: 25px; */
}

.Join .articleText > * > *:first-child {
  /* margin-left: 0; */
}

@media (min-width: 360px) {
  .Join .articleText {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Join .articleText .times {
    display: flex;
    flex-direction: column;
  }

  .Join .articleText .contactInformation {
    display: flex;
    flex-direction: column;
  }
}
